{% extends "base.html" %}

{% block title %}Bmail | Inbox{% endblock title %}

{% block content%}

    <h1>Inbox</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%">From</th>
                <th width="20%">Subject</th>
                <th width="40%">Message</th>
                <th width="20%">Received</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.sender }}</td>
                <td>{{ message.subject }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.sent }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}