{% extends "base.html" %}

{% block title %}Bmail | Sent Mail{% endblock title %}

{% block content%}

    <h1>Sent Mail</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th width="20%">To</th>
            <th width="20%">Subject</th>
            <th width="40%">Message</th>
            <th width="20%">Sent</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
        <tr>
            <td>{{ message.recipient }}</td>
            <td>{{ message.subject }}</td>
            <td>{{ message.message }}</td>
            <td>{{ message.sent }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}