<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Calculator</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Calculator</h1>
    <form method="post" action="/result">
        Number 1: <br>
        <input name="no1"><br><br>
        Number 2: <br>
        <input name="no2"><br><br>
        Operator (+, -, *, /): <br>
        <input name="operator"><br><br>
        <button type="submit">Calculate!</button>
    </form>
</body>
</html>