<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filton's GuestBook | Admin Panel</title>
</head>
<body>
    <a href="/">Back</a>
    <br>
    <h1>Admin Panel</h1>

    <table>
        {% for guest_post in messages %}
            <tr>
                <td>
                    {{ guest_post.created }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ guest_post.name }} {{ guest_post.surname }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    {{ guest_post.message }}
                </td>
            </tr>
            <tr>
                <td>
                     <form action="/message/{{ guest_post.key.id() }}/restore" method="post">
                         <button type="submit">Restore</button>
                     </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="/message/{{ guest_post.key.id() }}/permanently-delete" method="post">
                         <button type="submit">Permanently delete</button>
                     </form><br><br>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>