<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filton's GuestBook | Leave a Message</title>
</head>
<body>
    <a href="/">Back</a>
    <br>
    <h1>Leave Us a Message</h1>
    <form action="/new-message" method="post">
        Name: <input name="name">
        <br>
        Surname: <input name="surname">
        <br>
        Email: <input name="email">
        <br>
        Message: <textarea name="message" required></textarea>
        <br><br>
        <button type="submit">Send</button>
    </form>
</body>
</html>