<!DOCTYPE html>
<html>
    
    <head>
        <title>fakebook | Laura Bolčina</title>
        <meta charset="UTF-8">
        <meta name="description" content="Moj fakebook profil">
        <meta name="keywords" content="fakebook, profil, Laura">
        <meta name="author" content="Laura Bolčina">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="main.css">
    </head>
    
    <body>
		
        <div id="header">
            <h1>fakebook</h1>
        </div>
		
        <div id="container">
			
			<div id="iskalnik">
				<input id="isci_okvir" type="text" placeholder="Išči po imenu">&nbsp;&nbsp;
				<button class="gumb" id="isci">Išči</button>
			</div>

			<div id="profil">
				
				<div id="profilna"><img src="https://pbs.twimg.com/profile_images/472391419512885248/b8wTkdvA.png" alt="profilna fotografija" width="250"/></div>

				<div id="ime">
					<h2>Laura Bolčina</h2>
				</div>
				
			</div>
			
			<ul id="menu">
				<li><a href="">O meni</a></li>
				<li><a href="">Fotografije</a></li>
				<li><a href="">Zapiski</a></li>
				<li><a href="">Prijatelji</a></li>
				<li><a href="">+</a></li>
			</ul>
	
			<div id="about">
				
				<div id="levo">
					<p>Kraj:<br>
					Starost:<br>
					Izobrazba:<br><br>
					Interesi:</p>
				</div>
										
				<div id="desno">
					<p>Kamna Gorica<br>
					28<br>
					SmartNinja-to-be<br><br>
					krojenje in šivanje<br>
					grafično oblikovanje<br>
					spletno programiranje<br>
					fotografija</p>
				</div>
				
			</div>	
			
		</div>
		
        <div id="footer">fakebook &copy; 2016</div>
		
    </body>
    
</html>